<section class="game-card">
  <!-- The contents of this card links to the game page using the game ID -->
  <a href="/game/{{id}}">
    <!-- The card contains the game title as the card header -->
    <header>{{title}}</header>
    <!-- The card contains the image of the game -->
    <img src="/assets/img/{{id}}.png" alt="{{title}} image">
  </a>
</section>