<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boardgame Cafe</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/materialize/css/materialize.min.css" media="screen,projection">
  <link rel="stylesheet" href="/css/homepgstyle.css">
  <link rel="stylesheet" href="/css/singlebgstyle.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/login">login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/boardgames"> BoardGames</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <p class="text-center text-muted">&copy; Copyright 2023 boardgame-cafe</p>
  </footer>
  <script type="text/javascript" src="/css/materialize/js/materialize.min.js"></script>
</body>

</html>