<div>
    <p class="intro">
        Welcome to the Cafe!
        Please log in and check out all the board game options we have for you.
    </p>
  <form id="ShopForm">
    <div class="shop-container">
      <label for="shop-value" id="shop">Board Game Cafe</label>
      <div class="input-field col s12 m6">
        <select id="shop-value">
          <option value="" disabled selected> Choose your Cafe</option>
          {{#each shopData}}
            <option value="{{this.name}}" data-icon="/assets/Shop imgs/{{this.image}}">{{this.name}}</option>
          {{/each}}
        </select> 
      </div>
    </div>
  </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>
  
  {{!-- <button class="dropbtn">The Games</button>
  <div class="dropdown-content">
    <a href="#">The Adventures Guild</a>
    <a href="#">Games On Tap</a>
    <a href="#">Round Table</a>
  </div>
</div> --}}
