<div>
    <p class="intro">
        Welcome to the Cafe!
        Please log in and check out all the board game options we have for you.
    </p>
  
  <div class="input-field col s12 m6">
    <select class="icons">
      <option value="" disabled selected>Choose your option</option>
      <option value="" data-icon="assets/Shop imgs/TAG-CardBack.jpg">The Adventures Guild</option>
      <option value="" data-icon="assets/Shop imgs/Games on Tap.png">Games on Tap</option>
      <option value="" data-icon="assets/Shop imgs/The Round Table.jpeg">Round Table</option>
    </select>
    <label>Images in select</label>
  </div>
  
  <button class="dropbtn">The Games</button>
  <div class="dropdown-content">
    <a href="#">The Adventures Guild</a>
    <a href="#">Games On Tap</a>
    <a href="#">Round Table</a>
  </div>
</div>
    <a> Board Games Cafe</a>
</div>