<div>
    <p class="intro">
        Welcome to the Cafe!
        Please log in and check out all the board game options we have for you.
    </p>
    <a class="heading">Board Games Cafe</a>
    
    <div class="dropdown">
  <button class="dropbtn">The Games</button>
  <div class="dropdown-content">
    <a href="#">The Adventures Guild</a>
    <a href="#">Games On Tap</a>
    <a href="#">Round Table</a>
  </div>
</div>




    
</div>