<body>
    {{{body}}}
    <div>
    <p class="intro"> 
        Welcome to the Cafe!
        Please log in and check out all the board game options we have for you.
    </p>
    <a> Board Games Cafe</a>
    </div>
</body>

