{{!< layout}}
<body>
  <h1 class="login-heading">Login</h1>
  <form id="loginForm">
    <input type="text" id="loginUsername" placeholder="Username">
    <input type="password" id="loginPassword" placeholder="Password">
    <button type="submit">Login</button>
  </form>

  <h2>New User</h2>
  <form id="newUserForm">
    <input type="text" id="newUsername" placeholder="Username">
    <input type="password" id="newPassword" placeholder="Password">
    <input type="password" id="confirmPassword" placeholder="Confirm Password">
    <button type="submit">Create User</button>
  </form>

  <div id="errorMessages"></div>

  <script src="/js/login.js"></script>
</body>