
<body>
    <h1>Login</h1>
<form id="loginForm">
    <input type="text" id="username" placeholder="username">
    <input type="password" id="password">
    <button>Login!</button>
</form>

<h2>New User</h2>
<form id="newuserForm">
    <input type="text" id="username" placeholder="username">
    <input type="password" id="password">
    <input type="confirm password" id="confirm password">
    <button>Login!</button>

</form>


<script src="/js/login.js"></script>

</body>



<footer>

</footer>

</html>
<h2>Login</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="email-login">email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>

<script src="/js/login.js"></script>
