
<body>
    <h1>Login</h1>
<form id="loginForm">
    <input type="text" id="username" placeholder="username">
    <input type="password" id="password">
    <button>Login!</button>
</form>

<h2>New User</h2>
<form id="newuserForm">
    <input type="text" id="username" placeholder="username">
    <input type="password" id="password">
    <input type="confirm password" id="confirm password">
    <button>Login!</button>

</form>


<script src="/js/login.js"></script>

</body>



<footer>

</footer>

</html>