#gameAvailable {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    padding: 20px;
    background-color: rgb(19, 139, 93);
}

  .title-gap {
    margin-bottom: 50px;
  }

  .avail-gap {
    margin-top: 50px;
    margin-left: 70px;
  }

#gameInfo {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-top: 50px;
    background-color: aqua;
}

#gameImage {
    margin-top: 200px;
}

#rating {
    display: inline-block;
    direction: rtl;
}

.rating input {
    display: none;
  }
.rating label {
    float: left;
    cursor: pointer;
    color: #ccc;
  }
.rating label:before {
    content: '\2605';
    font-size: 24px;
  }
.rating input:checked ~ label {
    color: #ffcc00;
  }
  
  