#gameAvailable {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    padding: 20px;
}

  .title-gap {
    margin-bottom: 50px;
  }

  .isAvail {
    margin-top: 10px;
  }

  .is-available-input {
    margin-left: 175px;
  }
  
  /* .is-available-label {
    margin-left: 175px;
  } */

  .isAvail-text {
    margin-left: 175px;
  }


#gameInfo {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-top: 50px;
    background-color: aqua;
}

#gameImage {
    margin-top: 200px;
}

#rating {
    display: inline-block;
    direction: ltr; /*Come back to fix rating direction*/
}

.rating input {
    display: none;
  }
.rating label {
    float: left;
    cursor: pointer;
    color: #ccc;
  }
.rating label:before {
    content: '\2605';
    font-size: 24px;
  }
.rating input:checked ~ label {
    color: #ffcc00;
  }

#reviewPage {
    margin-top: 50px;
    margin-left: -115px;
}

.button#reviewPage {
    width: 100px;
    height: 40px;
    font-size: medium;
}

#gameDetail {
display: flex;
flex-direction: column;
margin-top: 50px;
padding-top: 50px;
background-color: rgb(135, 235, 185)
}

.length,
.numPlayer,
.playerAge,
.category,
.shop {
  margin-bottom: 20px;
}

.intro {
  margin-top: 100px;
}

.navbar {
  color: darkblue;
}

.navbar-brand img {
  width: 64px; 
  height: auto; /* Maintain the aspect ratio */
  margin-right: 0px; 
}

.login-heading,
.gamepage-heading {
  margin-top: 100px;
}

.profilePage {
display: flex;
flex-direction: column;
margin-top: 100px;
padding-top: 50px;
height: 200px;
width: 400px;
font-size: large;
background-color: rgb(135, 235, 185)
}

.playedGames {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 200px;
  width: 700px;
  background-color: rgb(135, 235, 185);
}

.game-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game-title {
  font-weight: bold;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.favoriteGames {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 200px;
  width: 700px;
  background-color: rgb(135, 235, 185);
}

.reviewed-game {
  display: flex;
  justify-content: center;
  gap: 20px;
}