/* singleboardgame page styling */
#gameAvailable {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  padding: 20px;
}

#game-title {
  margin-bottom: 20px;
  margin-left: 100px;
}

.isAvail {
  margin-top: 35px;
  margin-right: 100px;
}

.is-available-input {
  margin-left: 175px;
}

.is-available-label {
  margin-left: auto;
}

.isAvail-text {
  margin-right: 100px;
  margin-top: initial;
}


#gameInfo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
  padding-top: 50px;
  background-color: aqua;
}

#gameImage {
  margin-top: 30px;
  padding-left: 20px;
  width: 350px;
  margin-right: 30px;
}

.rating {
  display: inline-block;
  padding-left: 20px;
}

.rating input {
  padding-left: 20px;
  display: none;
}

.rating label {
  float: left;
  cursor: pointer;
  color: #ccc;
}

.rating label:before {
  content: '\2605';
  font-size: 24px;
}

.rating input:checked~label {
  color: #ffcc00;
}

#reviewPage {
  display: block;
  margin-top: 20px;
  margin-left: 20px;
}

.button#reviewPage {
  width: 100px;
  height: 40px;
  font-size: medium;
}

#description {
  padding-left: 20px;
}

#des-text {
  padding-left: 20px;
}

#gameDetail {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  background-color: rgb(135, 235, 185);
  width: 50%;
  position: relative;
}

.gameStats {
  display: flex;
  flex-wrap: wrap;
}

#stats-title {
  padding-left: 20px;
}

.length,
.numPlayer,
.playerAge,
.category,
.shop {
  margin-bottom: 20px;
  padding-left: 20px;
}

.gameStats p {
  display: flex;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin: 5px;
}

#claimButton {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Main page styling */
.intro {
  margin-top: 100px;
}

.navbar {
  color: darkblue;
}

.navbar-brand img {
  width: 64px;
  height: auto;
  /* Maintain the aspect ratio */
  margin-right: 0px;
}

.login-heading,
.gamepage-heading {
  margin-top: 100px;
}

/* Profile Page styling */
.profilePage {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding-top: 50px;
  height: 200px;
  width: 400px;
  font-size: large;
  background-color: rgb(135, 235, 185)
}

.playedGames {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 200px;
  width: 700px;
  background-color: rgb(135, 235, 185);
}

.game-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game-title {
  font-weight: bold;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.favoriteGames {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 200px;
  width: 700px;
  background-color: rgb(135, 235, 185);
}

.reviewed-game {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.gameImageAndStats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* BoardGames Page Styling */

.formBox {
  margin-top: 100px;
}

#instructions{
  margin-top: 100px;
  font-size: 1.56rem;
  font-style: italic;
  padding-left: 20px;
}

#details{
  padding-left: 20px;
}

#title {
  padding-left: 20px;
}

label {
  padding-left: 20px;
}

.col {
padding: 0;
}

.input-field.col.s12 {
  width: 45%;
  padding-left: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}

.col.s12 {
  width: 45%;
  box-sizing: border-box;
}

/* For small screens, make each column take 100% width */
@media (max-width: 600px) {
  .col.s12 {
    width: 100%;
  }
}

.select-wrapper {
  padding-left: 20px;
  width: 45%;
}

#search-button {
  margin-left: 20px;
}