/* singleboardgame page styling */
#gameAvailable {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  padding: 20px;
}

#game-title {
  margin-bottom: 20px;
  margin-left: 100px;
}

.isAvail {
  margin-top: 35px;
  margin-right: 100px;
}

.is-available-input {
  margin-left: 175px;
}

.is-available-label {
  margin-left: auto;
}

.isAvail-text {
  margin-right: 100px;
  margin-top: initial;
}


#gameInfo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
  padding-top: 50px;
  background-color: aqua;
}

#gameImage {
  margin-top: 30px;
  padding-left: 20px;
  width: 350px;
  margin-right: 30px;
}

.rating {
  display: inline-block;
  padding-left: 20px;
}

.rating input {
  padding-left: 20px;
  display: none;
}

.rating label {
  float: left;
  cursor: pointer;
  color: #ccc;
}

.rating label:before {
  content: '\2605';
  font-size: 24px;
}

.rating input:checked~label {
  color: #ffcc00;
}

#reviewPage {
  display: block;
  margin-top: 20px;
  margin-left: 20px;
}

.button#reviewPage {
  width: 100px;
  height: 40px;
  font-size: medium;
}

#description {
  padding-left: 20px;
}

#des-text {
  padding-left: 20px;
}

#gameDetail {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  background-color: rgb(135, 235, 185);
  width: 50%;
  position: relative;
}

.gameStats {
  display: flex;
  flex-wrap: wrap;
}

#stats-title {
  padding-left: 20px;
}

.length,
.numPlayer,
.playerAge,
.category,
.shop {
  margin-bottom: 20px;
  padding-left: 20px;
}

.gameStats p {
  display: flex;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin: 5px;
}

#claimButton {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Main page styling */
.intro {
  margin-top: 100px;
}

.navbar {
  color: darkblue;
}

.navbar-brand img {
  width: 64px;
  height: auto;
  /* Maintain the aspect ratio */
  margin-right: 0px;
}

.login-heading,
.gamepage-heading {
  margin-top: 100px;
}

/* Home page Styling */
/* .dropdown-content.select-dropdown img {
  max-width: 30px;
  max-height: 30px;
  margin-top: 5px;
} */


.input-field.col.s12.m6 {
  width: 50%;
  border-color: black;
}

/* For small screens, make each column take 100% width */
@media (max-width: 600px) {
  .input-field.col.s12.m6 {
    width: 100%;
  }
}

#shop-value {
  background-color: rgb(185, 110, 219);
  color: rgb(243, 236, 236);
  padding: 16px;
  font-size: 16px;
  border: none;
}

#shop {
  margin-left: 20px;
}

.select-wrapper{
  margin-left: 20px;
}

.select-dropdown.dropdown-trigger {
  margin-left: 20px;
}

/* Style for the Logout button - Profile Page */
#logout {
  background-color: white;
  color: rgb(49, 0, 128);
  border: none;
  padding: 8px 16px;
  margin-left: 300px;
  margin-top: 3px;
  font-size: medium;
  cursor: pointer;
  border-radius: 4px; 
}

/* Add hover effect */
#logout:hover {
  background-color: hotpink; /* Change color on hover */
}

/* Profile Page styling */
.profilePage {
  /* display: flex;
  flex-direction: column; */
  margin-top: 42px;
  padding-top: 50px;
  padding-bottom: 25px;
  height: auto;
  width: 400px;
  font-size: large;
  background-color: rgb(135, 235, 185)
}

#DeleteUsr {
  margin-top: 10px;
  margin-left: 33px;
}

#username {
  margin-top: -35px;
}

#unclaimBtn {
  width: fit-content;
  margin-left: 100px;
}

.playedGames {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  height: auto;
  width: 700px;
  background-color: rgb(135, 235, 185);
}

.game-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
  padding: 20px;
  margin: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game-title {
  font-weight: bold;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.favoriteGames {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 200px;
  width: 700px;
  background-color: rgb(135, 235, 185);
}

.reviewed-game {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.gameImageAndStats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* BoardGames Page Styling */

.buttons {
  margin-top:100px;
  color: white;
  background-color: rgb(123, 58, 196);
  padding: 10px;
}

.buttons:hover {
  background-color: hotpink;
}

.formBox {
  margin-top: 100px;
}

#instructions{
  margin-top: 100px;
  font-size: 2.05rem;
  font-style: italic;
  font-family: fantasy;
  padding-left: 20px;
}

#details{
  padding-left: 20px;
}

.title-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  margin-bottom: 20px; /* Add margin for separation */
}

#title {
  padding-left: 20px;
}

.row {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between; /* Distribute space between items */
  padding-left: 20px;
  padding-right: 20px;
}

.row label {
  font-size: 13px;
  color: #009688;
}

.row .input-field {
  margin-top: 5px;
  margin-left: -10px;
}

.input-field.col.s12 {
  width: 45%;
}

/* For small screens, make each column take 100% width */
@media (max-width: 600px) {
  .input-field.col.s12 {
    width: 100%;
  }
}

p.intro{
  text-align: center;
  color: rgb(49, 0, 128);

}

a.heading{
  text-align: center;
  color: rgb(49, 0, 128);

}


.dropbtn {
  background-color: rgb(123, 58, 196);
  color: rgb(243, 236, 236);
  padding: 16px;
  font-size: 16px;
  border: none;
}


.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f3eded;
  min-width: 160px;
  box-shadow: rgb(10, 10, 10);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(10, 10, 10);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: light rgb(145, 54, 153);}

.select-wrapper {
  width: 80%;
}

#search-button {
  margin-left: 20px;
}

#card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.game-card{
  background-color: rgb(165, 96, 255);

  font-weight: bold;
}

.game-card header{
  margin-bottom: 5px;
  color: white;
}

.game-card img{
  margin-top: 10px;
}
